<div class="min-h-screen bg-black flex font-sans overflow-hidden">
  <!-- Header / Logo -->
  <header class="absolute top-0 left-0 flex items-center px-4 sm:px-10 py-4 sm:py-6 z-10">
    <!-- Logo animation placeholder -->
    <div class="w-20 h-20 sm:w-24 sm:h-24 mr-2">
      <img
        src="/login-page-images/interview_logo.png"
        alt="Dashboard illustration"
        class="w-full h-full object-contain"
      />
    </div>
    <div class="font-bold pt-4">
      <a class="text-5xl text-yellow-400">AI Technical Interview <br/>
        Simulator
      </a>
      <a class="text-2xl text-amber-200">For software engineers</a>
    </div>

  </header>

  <!-- Left: Login form -->
  <section class="w-1/2 flex items-center justify-center px-10 pt-32">
    <div class="w-full max-w-md">

      <h1 class="text-2xl sm:text-3xl lg:text-4xl font-semibold text-white mb-2">{{ isSignup ? 'Sign Up' : 'Login' }}</h1>
      <p class="text-sm sm:text-base text-gray-300 mb-6 sm:mb-8">{{ isSignup ? 'Create your account to get started.' : 'Welcome back! Please login to your account.' }}</p>
      <div *ngIf="successMessage" class="text-green-500 text-sm  mb-4">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="text-red-600 text-sm bg-pink-50 p-3 rounded-lg mb-4">
        {{ errorMessage }}
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()"  class="space-y-5 ">
        <div *ngIf="isSignup" class="flex flex-col min-h-20">
          <label class="text-sm text-white mb-1">Username</label>
          <input
            type="text"
            formControlName="username"
            placeholder="Your username"
            class="px-4 py-3 rounded-lg border-2 border-gray-600 bg-gray-900 text-white focus:outline-none focus:ring-2 focus:ring-yellow-400"
          />
          <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="text-red-600 text-sm mt-1 min-h-[1.25rem]">
            <span *ngIf="form.get('username')?.errors?.['required']">Username is required</span>
          </div>
        </div>
        <div class="flex flex-col min-h-20">
          <label class="text-sm text-white mb-1">Email</label>
          <input
            type="email"
            formControlName="email"
            placeholder="your-email@gmail.com"
            class="px-4 py-3 rounded-lg border-2 border-gray-600 bg-gray-900 text-white focus:outline-none focus:ring-2 focus:ring-yellow-400"
          />
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
               class="text-red-600 text-sm mt-1 min-h-5">
          <span *ngIf="form.get('email')?.errors?.['required']">Email is required</span>
          <span *ngIf="form.get('email')?.errors?.['email']">Invalid email format</span>
          </div>
        </div>


        <div class="flex flex-col min-h-20">
          <label class="text-sm text-white mb-1">Password</label>
          <div class="relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="••••••••"
              class="px-4 py-3 pr-12 rounded-lg border-2 border-gray-600 bg-gray-900 text-white focus:outline-none focus:ring-2 focus:ring-yellow-400 w-full"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-yellow-400"
            >
              @if (!showPassword) {
                <span>👁️</span>
              } @else {
                <span>🫣</span>
              }
            </button>
          </div>
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-red-600 text-sm mt-1 min-h-5">
            <span *ngIf="form.get('password')?.errors?.['required']">Password is required</span>
            <span *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 8 characters</span>
          </div>
        </div>



        <button
          type="submit"
          [disabled]="form.invalid"
          class="w-full mt-4 py-3 rounded-lg bg-yellow-400 text-black font-bold transition shadow-lg hover:bg-yellow-500 hover:shadow-xl cursor-pointer disabled:bg-gray-600 disabled:cursor-not-allowed"
        >
          {{ isSignup ? 'Sign Up' : 'Login' }}
        </button>
      </form>

      <div class="mt-4 text-center">
        <span class="text-gray-400 text-sm">{{ isSignup ? 'Already have an account?' : "Don't have an account?" }}</span>
        <button (click)="toggleForm()" class="text-yellow-400 hover:text-yellow-500 font-semibold text-sm ml-2 cursor-pointer">
          {{ isSignup ? 'Login' : 'Sign Up' }}
        </button>
      </div>
    </div>
  </section>

  <!-- Right: Illustration -->
  <section class="w-1/2 flex items-center justify-center bg-gray-900">
    <img
      src="/login-page-images/image_2.png"
      alt="Dashboard illustration"
      class="w-full h-full object-cover"
    />
  </section>
</div>
